.info-login-bg{
    height: 100vh;
    width: 500px;
    background-color: #9e24bf;
    left: 0px;
  }
  .tam-max{
    max-width: 420px;
    text-align: initial;
  }

  .img-qr{
      width: 250px;
  }

  .info-login{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .text-logo{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 600
  }

  .text-info-w{
    padding: 25px;
    color: white;
    font-size: 24px;
    font-family: roboto;
    margin: 30px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
  }

  .text-info-w2{
    padding: 25px;
    color: white;
    font-family: roboto;
    margin: 30px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    margin-top: 80px;
    padding-top: 100px;
  }

@media(max-width: 981px){
    .info-login-bg{
      width: 400px;
    }
}