
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.input-login{
  border: none;
  border-radius: 7px;
  display: block;
  width: 100%;
  height: 50px;
  padding-top: 7px;
  padding-left: 10px;
  background-color: #EFEFEF;
}

.tam-max{
  max-width: 420px;
  text-align: initial;
  margin: 15px;
}

.input-login:focus{
  color: #495057;
  background-color: #fff;
  border-color: #292929;
  outline: 0;
  border-radius: 5px;
  box-shadow: 0 0 0 0.2rem #29292944;
  padding-left: 10px;
}

.img-logo{
  width: 250px;
  position: absolute;
   right: 5%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.bg-roxo{
  background-color: #292929!important;
  border: #292929!important;
}

.App-link {
  color: #292929;
}

.btn-ancora{
  flex: 100%;
  text-align: center;
  margin-top: 40px;
  height: 45px;
  width: 100%;
}

a.btn-ancora {
    text-align: center;
    margin-top: 40px;
    color: #292929;
}

a.btn-ancora:hover {
  color: #29292944;
}

.center-position{
  flex-grow: 1;
  height: 100%;
  text-align: -webkit-center;
  width: 100%;
}

.form-group {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.App {
  text-align: center;
}

.img-cel{
  width: 150px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.text-qrid{
  font-size: 36px;
  font-weight: 700;
  color: #292929;
  z-index: 2;
  padding: 2px;
  margin-top: 20px;
  font-family: roboto;
}

.img-logo{
  width: 250px;
  position: absolute;
   right: 5%;
}

@media(max-width: 1600px){
  .img-logo{
    right: 1%;
  }
}

@media(max-width: 1315px){
  .img-logo{
    width: 200px;
    position: absolute;
    right: 0%;
  }
}

@media(max-width: 1198px){
  .img-logo {
    width: 150px;
    position: absolute;
    top: 3%;
    left: calc(50% + 75px);
  }
}

@media(max-width: 865px){
  .App-header {
    flex-direction: column;
  }
  .img-logo {
    left: calc(50% - 75px);
  }
}

@media (max-width: 560px){
  
}

