.nav-color{
    background-color: white !important;
    height: 150px;
    border-bottom: 1px solid #CFCFCF;
    padding-bottom: 90px;
}

.bg-light{
    background-color: #292929 !important;
}

.icon-adjust{
    margin-top: -3px;
    margin-right: 5px;
}


.nav-color a{
    color: white !important;
}

img{
    width: 60px;
}

.text-qrid{
    font-size: 36px;
    font-weight: 700;
    color: #292929;
    z-index: 2;
    padding: 2px;
    font-family: roboto;
  }

.border-nav{
    padding: 10px 15px;
    margin-left: -1px;
}


@media(max-width: 991.1px){
    .border-nav{
        border: none;
    }
    .collapse.show{
        background-color: white;
    }

    .nav-color a{
        padding-top: -5px;
    }
    .nav-color button{
        padding-top: -5px !important;
    }

    .collapsing{
        background-color: white;
    }

    .nav-color{
        height: auto;
    }
}



