

.img-qr{
    width: 250px;
}

.text-logo{
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: 600
}


@media(max-width: 981px){
  .info-login-bg{
    width: 400px;
  }
}


@media(max-width: 1198px){
  .img-logo {
    top: 1%!important;
  }
}

