.info-login-bg{
  height: 95vh;
  width: 500px;
  background-color: #292929;
  left: 0px;
}

.img-qr{
    width: 250px;
}

.info-login{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-logo{
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: 600
}

.text-info-w{
  padding: 25px;
  color: white;
  font-size: 24px;
  font-family: roboto;
  margin: 30px;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
}

.text-info-w2{
  padding: 25px;
  color: white;
  font-family: roboto;
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  margin-top: 80px;
  padding-top: 100px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

@media(max-width: 981px){
  .info-login-bg{
    width: 400px;
  }
}


@media(max-width: 1198px){
  .img-logo {
    top: 1%!important;
  }
}

