body{
    background-color: #f2f2f2 !important;
    overflow-x: hidden;
}
.card-top-n{
    position: relative;
    background-color: white;
    border-radius: 27px;
    padding: 5px 25px;
}

.perfil-img{
    width: 80px;
    border-radius: 50%;
    margin-right: 10px;
    justify-self: center;
    position: absolute;
    border-left-color: transparent;
    border-right-color: transparent;
}
.config-btn{
    justify-self: end;
}
.left-to-right{
    animation-name: ani1;
    animation-duration: 1s;
}
@keyframes ani1 {
    from {transform: translateX(100vw)}
    70%{transform: translateX(-10px)}
    72%{transform: translateX(-9px)}
    74%{transform: translateX(-8px)}
    75%{transform: translateX(-7px)}
    76%{transform: translateX(-6px)}
    77%{transform: translateX(-5px)}
    78%{transform: translateX(-4px)}
    79%{transform: translateX(-3px)}
    80%{transform: translateX(-2px)}
    81%{transform: translateX(-1px)}
    82%{transform: translateX(0px)}
    to {transform: translateX(0px)}
  }

.teste{
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    box-shadow: 2px 3px 4px 3px rgba(0,0,0,.15)!important;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: #C2c2c2 #C2c2c2 #FFF!important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #292929;
    background-color: #fff;
    border-color: #C2c2c2 #C2c2c2 #fff;
}