.App-header {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .App {
    text-align: center;
  }

  .info-login-bg{
    height: 100vh;
    width: 30%;
    background-color: #9e24bf;
    left: 0px;
  }
  .tam-max{
      max-width: 360px;
      text-align: initial;
  }